name: CI

on:
  push:
    branches:
      - master
      - 'v*'
  pull_request: {}
  schedule:
    - cron:  '0 3 * * *' # daily, at 3am

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v2
        with:
          node-version: 12.x
          cache: yarn

      - run: yarn install
      - run: yarn lint:js

  tests:
    name: Tests
    runs-on: ubuntu-latest
    timeout-minutes: 20

    strategy:
      matrix:
        test-suite:
          - ember-lts-3.4
          - ember-lts-3.8
          - ember-lts-3.12
          - ember-lts-3.16
          - ember-lts-3.20
          - ember-lts-3.24
          - ember-release
          - ember-beta
          - ember-canary
        include:
           - test-suite: "test:one ember-canary"
             allow-failure: true

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v2
        with:
          node-version: 12.x
          cache: yarn

      - run: yarn install

      - name: tests
        run: yarn test:one ${{ matrix.test-suite }}
        continue-on-error: ${{matrix.allow-failure}}

  extra-tests:
    name: Tests (Floating Dependenies)
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v2
        with:
          node-version: 12.x
          cache: yarn

      - run: yarn install --no-lockfile

      - name: tests
        run: yarn test
        continue-on-error: true
